<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendário de Atividades</title>


<!-- begin scripts calendar -->
<link rel="icon" href="favicon.ico" />
<link rel="stylesheet" href="calendar/bower_components/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="calendar/bower_components/fullcalendar/dist/fullcalendar.css">
<link rel="stylesheet" href="css/calendar-app.css" />
<link rel="stylesheet" href="css/custom-calendar.css" />
<!-- finish scripts calendar -->
<link rel="stylesheet" href="css/form.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="calendarApp" class="container">
    <div class="well">
        <nav  class="navbar navbar-default">
            <div class="collapse navbar-collapse" id="menu" ng-controller="MenuController">
                <ul class="nav nav-tabs nav-pills nav-justified">
                    <li>
                        <a ng-click="goCalendar()">Calendário</a>
                    </li>
                    <li>
                        <a ng-click="goUser()">Usuário</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div ui-view></div>
    </div>
</body>
<footer>

<!-- begin scrippts calendar -->
<script src="calendar/bower_components/jquery/dist/jquery.js"></script>
<!-- <script src="calendar/bower_components/angular/angular.js"></script> -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular/angular-sanitize.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.7/angular-sanitize.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script> -->
<script src="calendar/bower_components/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="calendar/bower_components/moment/moment.js"></script>
<script src="calendar/bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="calendar/bower_components/fullcalendar/dist/gcal.js"></script>
<!-- finsh scripts calendar -->

<script src="js/calendar-app.js"></script>
<script src="calendar/js/calendar.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="node_modules/angular-ng-modules/angular.ng-modules.js"></script>
<script src="js/app.js"></script>
<script src="js/menu-controller.js"></script>
<script src="js/controller/users.js"></script>
<script src="js/controller/activities.js"></script>
<script src="js/utils/grid-controller.js"></script>
<script src="js/utils/header-form.js"></script>
<!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
 <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- <script src="js/testeapp.js"></script> -->
<!-- <script src="js/combine-modules.js"></script> -->

</footer>
</html>